<header>
  <div>
    <h1>
      <a href="{{ '/' | relative_url }}">Kate Donaldson</a>
    </h1>
    <h2>
      <a href="{{ '/' | relative_url }}">Consulting & Coaching</a>
    </h2>

  </div>
</header>
<!-- Hamburger icon -->
<div class="hamburger-menu">
  <input
    class="side-menu"
    type="checkbox"
    id="side-menu" />
  <label class="hamb" for="side-menu">
    <span class="hamb-line"></span>
  </label>
</div>
<nav>
  {% assign current = resource.data.slug %}
    <ul>
    <li>
      <a href="{{ '/' | relative_url }}" class="{% if current == "index" %}current{% endif %}">Home</a>
    </li>
    <li>
      <a href="{{ '/about' | relative_url }}" class="{% if current == "about" %}current{% endif %}">About</a>
    </li>
    <li>
      <a href="{{ '/services' | relative_url }}" class="{% if current == "services" %}current{% endif %}">Services</a>
    </li>
    <li>
      <a href="{{ '/testimonials' | relative_url }}" class="{% if current == "testimonials" %}current{% endif %}">Testimonials</a>
    </li>
    {% comment %} <li><a href="{{ '/writing' | relative_url }}" class="{% if current == "writing" %}current{% endif %}">Writing</a></li> {% endcomment %}
    <li>
      <a href="{{ '/contact' | relative_url }}" class="{% if current == "contact" %}current{% endif %}">Contact</a>
    </li>
  </ul>
</nav>