<header>
  <div>
    <h1>Kate Donaldson</h1>
    <h2>Consulting & Coaching</h2>
  </div>
</header>

<nav>
  {% assign current = resource.data.slug %}
  <ul>
    <li><a href="{{ '/' | relative_url }}" class="{% if current == "index" %}current{% endif %}">Home</a></li>
    <li><a href="{{ '/about' | relative_url }}" class="{% if current == "about" %}current{% endif %}">About</a></li>
    <li><a href="{{ '/services' | relative_url }}" class="{% if current == "services" %}current{% endif %}">Services</a></li>
    <li><a href="{{ '/posts' | relative_url }}" class="{% if current == "posts" %}current{% endif %}">Posts</a></li>
    <li><a href="{{ '/contact' | relative_url }}" class="{% if current == "contact" %}current{% endif %}">Contact</a></li>
  </ul>
</nav>